.popup-label {
  position: relative;
  vertical-align: sub;
}

.ui.attached.segment.actions {
  display: flex;
  align-items: center;
  gap: 1rem;
}

// Temporary style fix
.geo-field-wrapper {
  > .ui.grid .row .twelve.column {
    padding: 0;

    > .ui.grid {
      margin: 0;
    }
  }
}

aside[role='presentation'] .ui.styled.accordion .accordion .active.title {
  color: #000000 !important;
}
