.popup-label {
  position: relative;
  vertical-align: sub;
}

.search-grid-column {
  padding-left: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
  .advanced-search-button {
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
    padding: 7px 10px !important;
    width: 55%;
    border: 2px solid #004b7f !important;
    background-color: transparent !important;
    border-radius: 10px !important;
    color: #004b7f !important;
    cursor: pointer;
    font-size: 16px;
    opacity: 0.8;
  }
}

.wrapper {
  border-bottom: 1px solid #edf1f2 !important;
}

// Temporary style fix
.geo-field-wrapper {
  > .ui.grid .row .twelve.column {
    padding: 0;

    > .ui.grid {
      margin: 0;
    }
  }
}

aside[role='presentation'] .ui.styled.accordion .accordion .active.title {
  color: #000000 !important;
}
